<!DOCTYPE html>
<html lang="en">
<head>
  <title>Volunteer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
 
<div class="container">
  <h2>Volunteer</h2>

<form class = "form-horizontal" role = "form">
   
   <div class = "form-group">
      <label for = "firstname" class = "col-sm-2 control-label">First Name</label>
      
      <div class = "col-sm-10">
         <input type = "text" class = "form-control" id = "firstname" placeholder = "Enter First Name">
      </div>
   </div>
   
   <div class = "form-group">
      <label for = "lastname" class = "col-sm-2 control-label">Last Name</label>
      
      <div class = "col-sm-10">
         <input type = "text" class = "form-control" id = "lastname" placeholder = "Enter Last Name">
      </div>
   </div>
   <div class = "form-group">
      <label for = "date-of-birth" class = "col-sm-2 control-label">Date of Birth</label>
      
      <div class = "col-sm-10">
         <input type = "text" class = "form-control" id = " date-of-birth" placeholder = "mm/dd/yyyy">
      </div>
   </div>
   
      <div class = "form-group">
            <label for = "name"  class = "col-sm-2 control-label">Gender</label>
            
            <select class = "form-control">
               <option>Male</option>
               <option>Female</option>
               
            </select>
            
            <label for = "name" class = "col-sm-2 control-label">Age Range</label>
            
            <select  class = "form-control">
               <option>Under 21</option>
               <option>21 to 61</option>
               <option>62+</option>
              
            </select>
      
   </div>
   <div class = "form-group">
      <label for = "firstname" class = "col-sm-2 control-label">Steet Address</label>
      
      <div class = "col-sm-10">
         <input type = "text" class = "form-control" id = "Street Address" placeholder = "Enter Street">
      </div>
   </div>
   <div class = "form-group">
      <label for = "City" class = "col-sm-2 control-label">City</label>
      
      <div class = "col-sm-10">
         <input type = "text" class = "form-control" id = "City" placeholder = "Enter City">
      </div>
   </div>
   <div class = "form-group">
      <label for = "State" class = "col-sm-2 control-label">State</label>
      
      <div class = "col-sm-10">
         <input type = "text" class = "form-control" id = "State" placeholder = "Enter State">
      </div>
   </div>
   <div class = "form-group">
      <label for = "Zip" class = "col-sm-2 control-label">Zip Code</label>
      
      <div class = "col-sm-10">
         <input type = "text" class = "form-control" id = "Zip Code" placeholder = "Enter Zip Code">
      </div>
   </div>
   <div class = "form-group">
      <label for = "Home Phone Number" class = "col-sm-2 control-label">Home Phone Number</label>
      
      <div class = "col-sm-10">
         <input type = "text" class = "form-control" id = "Home Phone Number" placeholder = "Enter Home Phone Number">
      </div>
   </div>
    <div class = "form-group">
      <label for = "Work Phone Number" class = "col-sm-2 control-label">Work Phone Number</label>
      
      <div class = "col-sm-10">
         <input type = "text" class = "form-control" id = "Work Phone Number" placeholder = "Enter Work Phone Number">
      </div>
   </div>
   <div class = "form-group">
      <label for = "Email" class = "col-sm-2 control-label">Email</label>
      
      <div class = "col-sm-10">
         <input type = "email" class = "form-control" id = "email" placeholder = "Enter Email ">
      </div>
   </div>
       <button type="submit" class="btn btn-default">Submit</button>  
</form>
   
</div>
</div>

</body>
</html>