<!DOCTYPE html>
<html>
<title>volunteers</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="volunteers.css" media="screen" />
<body>

<div class="container">
  <div class="avatar-flip">
    <img src="popin_2016.jpg" height="160" width="180">
    
  </div>
    <h2>Volunteer</h2>
     <h4>BackPack Bridge</h4>
  <form action="/action_page.php">
    Id: <input type="text" name="Id" value=""><br>
    First name: <input type="text" name="firstName" value=""><br>
    Last name: <input type="text" name="lastName" value=""><br>
    D.O.B: <input type="text" name="dateOfBirth" value=""><br>
    Street Address: <input type="text" name="streetAddress" value=""><br>
    City: <input type="text" name="City" value=""><br>
    Zip: <input type="text" name="zip" value=""><br>
    Home Phone #: <input type="text" name="homePhoneNumber" value=""><br>
    Work Phone #: <input type="text" name="workPhoneNumber" value=""><br>
    Email: <input type="Email" name="Email" value=""><br>

  
</form> 
 
</div>
</body>
</html>